<div class="container">
    <h1>Objetos de Arte</h1>
    <div class="row">
        <table class="table table-striped">
            <caption>Faça um controle (listagem) da compra de objetos de arte por mês e por ano do museu.</caption>
            <thead class="table-dark">
                <tr>
                    <th>Ano</th>
                    <th>Coleção</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each object}}
                <tr>
                    <td>{{titulo}}</td>
                    <td>{{dataaquisicao}}</td>
                    <td>{{custo}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

  <canvas id="myChart" width="200" height="200"></canvas>
    <script>

        const ctx = document.getElementById('myChart').getContext('2d');
        const labels = [{{{labels}}}];
        const data = {
            labels: labels,
            datasets: [{
                label: 'Curva de gastos por ano',
                data: [{{{data}}}],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };
        const myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>